<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionCommand.Properties.Settings.STUDENTS1ConnectionString"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=STUDENTS1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>